/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

html {
  font-size: 62.5%;
}

.task {
  font-size: 2rem;
  font-family: Arial, sans-serif;
}

.main {
  position: relative;

  width: 800px;
  height: 500px;
  overflow: hidden;

  background: #dedede;

  .floor {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height: 5px;

    background: #555555;
  }
}

.round-obj {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 50px;
  height: 50px;
  
  border-radius: 50%;
  background: #000000;
}